.aside-modal {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  border-left: 1px solid #cacaca;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}
