body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 48px;
  font-size: 14px;
  color: #737373;
}

img {
  width: 100%;
}

.ui.menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.ui.menu a.item {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart h2 {
  text-transform: uppercase;
  padding: 50px 0;
}

.cart-items {
  border-top: 1px solid #dcdcdc;
  padding: 100px 0;
}

.cart-items .no-items {
  text-align: center;
}

.product-hero {
  margin-top: -1.5em;
  max-height: 30vh;
  overflow: hidden;
  position: relative;
}

.product-hero img {
  filter: blur(0.5em);
}

.product-content {
  padding: 1em 0 1em 0 !important;
  vertical-align: bottom;
}

.product-content img {
  margin-top: -10vh;
  margin-bottom: 1vh;
}

.product-content h1 {
  /* top: 26vh;
  left: 33vw;
  color: #fff;
  font-size: 4em;
  text-shadow: 1px 1px 1px rgb(88, 88, 88); */
}

.product-content p {
  /* top: 45vh;
  left: 33vw;
  width: 59vw; */
}

.rating p {
  font-size: 4em;
}
