body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 48px;
  font-size: 14px;
}

.ui.menu {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.ui.menu a.item {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
